body {
  background-image: url('desk.jpg');
  margin: 0;
  background-size: cover;
}

header {
  margin: 60px auto;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: black;
  height: 1000px;
  width: 700px;
  opacity: 0.5;
  padding-left: 40px;
  color: #fff;
}

.one {
  text-align: center;
  padding-top: 50px;
  font-size: xxx-large;
  color: tomato;
  text-transform: uppercase;
}

.two {
  padding: 50px;
}

.email1 {
  font-size: 1.8em;
  margin: 0
}

.email2 {
  font-size: 1.5em;
  padding: 0;
  width: 500px;
  height: 40px;
  margin-bottom: 25px;
}

.button {
  text-align: center;
  margin: auto;
}

.button .bowe {
  margin-top: 20px;
  width: 30%;
  height: 50px;
  font-size: xx-large;
  background-color: tomato;
  color: #fff;
  margin-bottom: 10px;
}

.button .btwo {
  width: 30%;
  height: 50px;
  font-size: large;
  background-color: tomato;
  color: #fff;
}

footer {
  margin-top: 60px;
  font-size: x-large;
}

a {
  margin-top: 50px;
  display: block;
  color: #fff
}
